<p>BuddyPress Auto Posting lets site admins to schedule different actions to be fired or some content to be published:</p>

<ul>
    <li>schedule forum topics in any group</li>
    <li>schedule site-wide notices to be published</li>
    <li>schedule group members unbanning</li>
</ul>

<p>Everything at a time you specify!</p>

<p>That gives you a unique ability to:</p>

<ul>
    <li>plan the traffic on your site</li>
    <li>promote something at a certain time</li>
    <li>notify users about any group events/news on time</li>
</ul>

<p>
    <img src="https://dl.dropbox.com/u/6771917/envato/code/bpap/screen.png" alt="BPAP: Calendar - One day view" width="637" height="455" />
</p>

<p>And of course you will have really flexible settings management – configure everything like you want.</p>

<p>Please launch video or open a <a href="http://codecanyon.net/theme_previews/3635608-buddypress-auto-posting" target="_blank">Screenshots</a> link to see how the plugin looks like in details.</p>

<h3><strong>Plans</strong></h3>
<p>This plugin will be developed further and in future releases it will have much more features. Here are only some of them:</p>
<ul>
    <li>add tags to forum topics</li>
    <li>schedule <strong>activity stream updates</strong> (appropriate functionality for <strong>every</strong>&nbsp;user on a website – or for admins only)</li>
    <li>schedule <strong>site-wide notifications</strong> using BuddyPress built-in feature (for admins only)</li>
    <li>twitter, facebook, instagram, foursquare [you suggest] integration</li>
    <li>and much more!</li>
</ul>

<h3><strong>Whom this plugin will be useful for?</strong></h3>
<p>If you:</p>
<ul>
    <li>value your own time</li>
    <li>have lots of responsibilities</li>
    <li>want to spend less time working and more enjoying</li>
    <li>want to implement awesome functionality into your network</li>
</ul>
<p>you should definitely buy this plugin!</p>

<h3><strong>Installation</strong></h3>
<p>After the purchase you will get the zip folder with the plugin folder. There are 2 ways to install the plugin:</p>
<ol>
    <li>Use the WordPress plugin uploader in the admin area.</li>
    <li>Upload the unzipped plugin folder `buddypress-auto-posting` to `wp-content/plugins/` folder on your server.</li>
</ol>
<p>Now you can activate the plugin and you are ready to start schedule content in your network.</p>

<h3><strong>Answers to some of your questions</strong></h3>
<h4><strong>Why I see less options in admin area comparing with screenshots?</strong></h4>
<p>That’s ok, don’t worry. Each and every BuddyPress install might be different and unique – you can just have some components deactivated. In case the plugin doesn’t see required activated BuddyPress component it will just ignore that functionality to prevent any possible errors.</p>
<p>Solution: just activate needed BP components.</p>
<h4><strong>Will this work on WordPress MultiSite?</strong></h4>
<p>Yes! If your WordPress installation has MultiSite mode enabled, BuddyPress Auto Posting will support that too (plugin admin area will be in WordPress Network section).</p>
<h4><strong>Where can I get support or report a bug? Can I suggest new features or vote for implementing something earlier?</strong></h4>
<p>Use the built-in uservoice widget on Feedback page.</p>
<h4><strong>Does this plugin support translation?</strong></h4>
<p>Yes! Every string can be translated into any language. Unfortunately, currently there are no available other languages (except English) but if you can help with this – this will be really appreciated!</p>