<style>
#bpps_info ul.profiles,#bpps_info ul.contact{
    margin-left:30px;
    list-style-type:circle;
}
#bpps_info ul.items li{
    display: inline;
    margin-right:10px;
    /*border: 1px solid #ccc;
    padding:5px;*/
}
#bpps_info ul.items img{
    width:80px;
    height:80px;
}
#bpps_info ul.items li a{
    text-decoration:none;
}
</style>
<div id="bpps_info">
    <h3>About the author</h3>

    <p>Hello, I'm Slava from Ukraine mainly known within BuddyPress community as slaFFik.</p>
    <p>Here are some links that describe me better:</p>
    <ul class="profiles">
        <li><a href="http://profiles.wordpress.org/slaFFik/" target="_blank">WordPress Profile and some of my free plugins</a></li>
        <li><a href="http://twitter.com/slaFFik" target="_blank">Twitter</a> - posting about <a href="https://twitter.com/#!/search/%23buddypress" target="_blank">#BuddyPress</a> and my coding progress</li>
        <li><a href="http://cosydale.com/" title="My Blog" target="_blank">CosyDale.com</a> - about Buddypress themes/plugins in Russian</li>
        <li><a href="http://ovirium.com/" title="My Portfolio" target="_blank">Ovirium.com</a> - list of some of my other plugins and projects</li>
    </ul>

    <h3>Contact</h3>

    <p>There are various ways to contact me - depending on the case:</p>
    <ul class="contact">
        <li>About paid plugin from <a href='http://codecanyon.net/user/slaFFik/portfolio?ref=slaFFik'>CodeCanyon</a>: use <a href="http://codecanyon.net/user/slaFFik" target="_blank">my profile page form</a></li>
        <li>About any new custom plugin or even the whole network: use <a href="http://ovirium.com/contact" target="_blank">the form on Ovirium.com</a></li>
        <li>Just to say "hi" and get the latest updates: use <a href="http://twitter.com/slaFFik" target="_blank">Twitter</a></li>
    </ul>

    <h3>Other items</h3>

    <p>I've created lots of plugins and custom code - <a href="http://wordpress.org/extend/plugins/profile/slaffik" target="_blank">for free</a>. Below are some paid items that will be frequenlty updated.</p>
    <ul class="items">
        <li>
            <a href="http://codecanyon.net/item/buddypress-auto-posting/3635608?ref=slaFFik" title="BuddyPress Auto Posting" target="_blank">
                <img src="https://dl.dropbox.com/u/6771917/envato/code/bpap/logo_80.png" alt="BuddyPress Auto Posting" />
            </a>
        </li>
        <li>
            <a href="http://codecanyon.net/item/buddypress-profiles-statistics/2215514?ref=slaFFik" title="BuddyPress Profiles Statistics" target="_blank">
                <img src="https://dl.dropbox.com/u/6771917/envato/code/bpps/logo_80.jpg" alt="BuddyPress Profiles Statistics" />
            </a>
        </li>
        <li>
            <a href="http://codecanyon.net/item/bp-extend-groups-description/2085768?ref=slaFFik" title="BP Extend Groups Description" target="_blank">
                <img src="http://dl.dropbox.com/u/6771917/envato/code/bpgd/logo_80.jpg" alt="BP Extend Groups Description" />
            </a>
        </li>
    </ul>

</div>