<p class="loading">&nbsp;</p>

<div class="bpap-calendar">
    <section class="main">
        <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
                <div class="custom-header clearfix">
                    <nav>
                        <span id="custom-prev" class="custom-prev"></span>
                        <span id="custom-next" class="custom-next"></span>
                    </nav>
                    <h2 id="custom-month" class="custom-month"></h2>
                    <h3 id="custom-year" class="custom-year"></h3>
                </div>
                <div id="calendar" class="fc-calendar-container"></div>
            </div>
        </div>
    </section>
</div><!-- /bpap-calendar -->

<script type="text/javascript">
jQuery(document).ready(function($){
    var cal = {};

    var transEndEventNames = {
            'WebkitTransition' : 'webkitTransitionEnd',
            'MozTransition' : 'transitionend',
            'OTransition' : 'oTransitionEnd',
            'msTransition' : 'MSTransitionEnd',
            'transition' : 'transitionend'
        };
    var transEndEventName = transEndEventNames[ Modernizr.prefixed('transition') ];
    var $wrapper          = $('#custom-inner');
    var $calendar         = $('#calendar');

    // Get data for calendar
    $.ajax({
        dataType: 'json',
        url: ajaxurl,
        context: $('.bpap-calendar'),
        data: {
            action: 'bpap_ajax_calendar',
            method: 'get_all'
        }
    // smth went wrong
    }).fail(function(jqXHR, textStatus, errorThrown){
        $(this).before('<p data-textStatus="'+textStatus+'" class="description">'+errorThrown+'</p>');
    // init & display the calendar
    }).done(function(data, textStatus, jqXHR){
        cal = $calendar.calendario({
                onDayClick : function( $el, $contentEl, dateProperties ) {
                    if( $contentEl.length > 0 ) {
                        showEvents( $contentEl, dateProperties );
                    }
                },
                caldata : data,
                displayWeekAbbr : true});
    }).always(function(one, textStatus, two){
        // fail    - jqXHR, textStatus, errorThrown
        // success -  data, textStatus, jqXHR

        if(textStatus !== 'success')
            return;

        var ajaxObj = this;
        $('p.loading').fadeOut('fast',function(){
            $(ajaxObj).fadeIn(500);
        });

        var $month = $('#custom-month').html( cal.getMonthName() );
        var $year  = $('#custom-year').html( cal.getYear() );

        $('#custom-next').on('click', function(){
            cal.gotoNextMonth(updateMonthYear);
        });
        $('#custom-prev').on('click', function(){
            cal.gotoPreviousMonth(updateMonthYear);
        });

        function updateMonthYear() {
            $month.html(cal.getMonthName());
            $year.html(cal.getYear());
        }
    });

    // just an example..
    function showEvents($contentEl, dateProperties) {
        hideEvents();

        $('.fc-calendar .fc-row > div.fc-today').fadeOut('slow');

        var $events = $('<div id="custom-content-reveal" class="custom-content-reveal"><h4>Events for ' + dateProperties.monthname + ' ' + dateProperties.day + ', ' + dateProperties.year + '</h4></div>'),
            $close = $('<span class="custom-content-close"></span>').on('click', hideEvents );

        $events.append( $contentEl.html() , $close ).insertAfter( $wrapper );

        setTimeout( function() {
            $events.css('top', '0%');
        }, 25 );
    }
    function hideEvents() {
        $('.fc-calendar .fc-row > div.fc-today').fadeIn('slow');
        var $events = $('#custom-content-reveal');
        if( $events.length > 0 ) {
            $events.css('top', '100%');
            Modernizr.csstransitions ? $events.on( transEndEventName, function() { $( this ).remove(); } ) : $events.remove();
        }
    }
});
</script>