/**
 * General styles
 */
#icon-bpap{
    background: #fff url(../images/icon.png) no-repeat;
}

#bpap-admin .p_margin {
    margin: 15px 0;
}

#bpap-admin p.loading{
    background: #fff url(../images/ajax-long.gif) 38% 0 no-repeat;
}

#bpap-admin .divider {
    padding-right: 20px;
    border-right: 2px solid #DDD;
    margin-right: 20px;
}

#bpap-admin h2{
    padding-top: 4px !important;
}

#bpap-admin h4{
    font-size: 160%;
}
    #bpap-admin h4 a{
        margin-left: 15px;
    }

#bpap-admin h5{
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 0px;
}

#bpap-admin .nav-tab-wrapper a.feedback{
    margin-left: 25px;
    color: #d84800;
}
#bpap-admin .nav-tab-wrapper a.calendar{
    color: #21759B;
}

#bpap-admin .full_label{
    display: block;
}

#bpap-admin .bpap_forums_topics td.guid textarea{
    border: 1px solid #ccc;
    height: 60px;
    width: 97%;
}

/**
 * Dashboard Styles
 */
#bpap-admin #dashboard-widgets{
    padding:0 1%;
}
#bpap-admin #dashboard_right_now li a:before, #dashboard_right_now li span:before {
    content: "";
}
#bpap-admin #dashboard_right_now .stat,
#bpap-admin #dashboard_right_now .description{
    padding: 10px;
}
#bpap-admin #dashboard-widgets-wrap .postbox-container{
    width:48.5%
}
    #bpap-admin #dashboard-widgets-wrap .postbox-container .postbox{
         display: block;
    }
        #bpap-admin #dashboard-widgets-wrap .postbox-container .postbox h3{
            cursor: default;
        }
        #bpap-admin #dashboard-widgets-wrap .postbox-container .postbox ul.stat span{
            font-size: 120%;
            color: #21759B;
            font-weight: bold;
        }

/**
 * Table - List of items
 */
#bpap-admin .tablenav select[name="action"]{
    width: auto;
}

/**
 * Admin area Footer
 */
#bpap-admin #bottom{
    border-top:1px solid #ccc;
    margin-top:15px;
    padding-top:15px;
}

/**
 * DateTimepicker for add/edit pages
 */
#bpap-admin .ui-timepicker-div .ui-widget-header {margin-bottom: 8px}
#bpap-admin .ui-timepicker-div dl {text-align: left}
#bpap-admin .ui-timepicker-div dl dt {height: 25px;margin-bottom: -25px}
#bpap-admin .ui-timepicker-div dl dd {margin: 0 10px 10px 65px}
#bpap-admin .ui-timepicker-div td {font-size: 90%}
#bpap-admin .ui-tpicker-grid-label {background: none;border: none;margin: 0;padding: 0}

#bpap-admin .wp-list-table tr.no-items td{
    padding: 10px;
}