﻿/********************************************************************

Project: Formee - http://www.formeeee.org
Launched:
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
.formee:after, .formee div:after, .formee ol:after, .formee ul:after, .formee li:after, .formee dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Form Structure */

.formee {margin:0;padding:0;}
.formee fieldset {
	border: 1px solid #d4d4d4;
	position: relative;
	height:100%;
	padding: 1.2em 0;
	margin: 0 0 4em;
}
.formee legend {
	margin-left:1%;
	margin-right:1%;
	padding: 0.5% 0.5% 0.8%;
    width: 168px;
}
.formee h3 {
	margin:2em 1% .8%;
	padding: 0.5% 0.5% 0.8%;
}

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
	display:inline-block;
	position:relative;
	float:left;
	margin-left:1%;
	margin-right:1%;
	padding: 0.8% 0.5% 1%;
	height:100%;
/*ie7*/
*margin-left:.8%;
*margin-right:.8%;
*padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 5.333%;}
.grid-2-12 {width: 13.666%;}
.grid-3-12 {width: 22%;}
.grid-4-12 {width: 30.333%;}
.grid-5-12 {width: 38.666%;}
.grid-6-12 {width: 47%;}
.grid-7-12 {width: 55.333%;}
.grid-8-12 {width: 63.666%;}
.grid-9-12 {width: 72%;}
.grid-10-12 {width: 80.333%;}
.grid-11-12 {width: 88.666%;}
.grid-12-12 {width: 97%;}


/* first item */ .formee .alpha {margin-left:0;}
/* last item */ .formee .omega {margin-right:0;}
/* clear */ .formee .clear {clear:both;}
/* input without label */ .formee-no-lbl {position:relative;padding-bottom:0;}
/* input without label */ .formee-no-lbl input,  .formee-no-lbl label,  .formee-no-lbl span,  .formee-no-lbl ul,  .formee-no-lbl p {position:absolute;bottom:0;}

/* multiple containers inside field-grid */
.formee .left {
	clear:none;
	float:left !important;
	margin-right:0.3em !important;
}
.formee .right {
	clear:none;
	float:right !important;
	margin-left:0.3em !important;
}


/* form elements  */
.formee-lbl, .formee label {
	display: block;
	height: auto;
	margin: 0.2em 0 0.5em;
}
.formee label.major{font-weight: bold;}
.formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select{
	vertical-align: middle;
	line-height: 1.1em;
	width: 100%;
	padding:10px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/*ie7*/
*width: 99%;
}
.formee textarea {height: 10em;}
.formee select {padding:9px;height:2.7em;}
.formee-list .formee-lbl, .formee-list label {
	display: inline;
	height: auto;
	margin: 0.5em 0 0.8em 2px;
}
.formee-req {
	position: relative;
	top:3px;
}

.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success {
	padding:20px 20px 15px 38px;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	margin: 0 1.5% 0.8em;
	clear:both;
}
.formee-msg-info li, .formee-msg-warning li, .formee-msg-error li, .formee-msg-success li {
	list-style: none;
	padding:0;
	margin-bottom: .4%;
	font-size:1.4em;
	line-height:1.1em;
	vertical-align: top;
}


/* form button  */
.formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
  padding:8px 15px 9px;
  cursor: pointer;
  text-align: center;
  display:inline-block;
  border:1px solid #D4D4D4;
}

/* lista de chk e rdo */
.formee-list {
	height: 100%;
	list-style: none;
	padding:0;
	margin:0;
}
.formee-list li, .formee-list li {
	margin: 0.5em 0.6em 0.8em;
	float:left;
	display: inline-block;
	list-style:none;
}
.formee-list input {margin-right: 0.2em}

/* input size */
.formee-small {
	width: 30% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 25% !important;
}

.formee-medium {
	width: 50% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 45% !important;
}

/*******************************************************************
Style
********************************************************************/

.formee fieldset {
	background:#fff;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {}
.field-button:hover {background:transparent;}


/* Form legend and titles */

.formee {font: normal 10px/1.1em Arial,Sans-Serif;}
.formee legend, .formee h3 {
	font-size:2em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}

/* form elements  */
.formee-lbl, .formee label {
	color:#2b2b2b;
	font-size:1.4em;
	line-height: 1.3em;
	vertical-align:middle;
}
.formee-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.2em;
	line-height: .85em;
}
.formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	font-size:1.4em;
	font-family:inherit;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.formee select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
}
.formee .formee-txt:hover, .formee input[type="text"]:hover, .formee input[type="password"]:hover, .formee input[type="file"]:hover, .formee textarea:hover, .formee select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
form .formee-txt:focus, .formee input[type="text"]:focus, .formee input[type="password"]:focus, .formee input[type="file"]:focus, .formee textarea:focus, .formee select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}


/* form msg status  */
.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success {
	color:#2b2b2b;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.formee-msg-info h3, .formee-msg-warning h3, .formee-msg-error h3, .formee-msg-success h3 {
	font-size:2em;
	line-height:1.1em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}
.formee-msg-info {
	background: #d1ecf7 url(../img/form-ic-info.png) no-repeat 12px 23px;
	border-color:#bcdfef;
}
.formee-msg-warning {
	background: #fff6bf url(../img/form-ic-warning.png) no-repeat 12px 23px;
	border-color:#fceb77;
}
.formee-msg-error {
	background: #fad0d0 url(../img/form-ic-error.png) no-repeat 12px 23px;
	border-color:#f6abab;
}
.formee-msg-success {
	background: #e5f8ce url(../img/form-ic-success.png) no-repeat 12px 23px;
	border-color:#d0f1a6;
}

.formee-msg-success strong, .formee-msg-success a{color:#62b548;}
.formee-msg-info strong, .formee-msg-info a {color:#11689e;}
.formee-msg-warning strong, .formee-msg-warning a {color:#957210;}
.formee-msg-error strong, .formee-msg-error a {color:#b01717;}

/* form validation */
.formee-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
  /* shadow */
  -moz-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  -webkit-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
}

/* form buttons */
.formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
  font-size:1.4em;
  line-height:1.4em;
  font-weight:bolder;
  text-transform: uppercase;
  letter-spacing: -.015em;
  color:#fff;
  height: auto;
  border-color:#3a77a4;
  background:#5393c2;
  /* gradient */
  background: -moz-linear-gradient(top, #5393c2 40%, #3a77a4);
  background: -webkit-linear-gradient(top, #5393c2 40%, #3a77a4);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5393c2', endColorstr='#3a77a4');
  /* corner */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* shadow */
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
}
.formee-button:hover, .formee input[type="submit"]:hover, .formee input[type="button"]:hover, .formee input[type="reset"]:hover {
  background:#70aedd;
  /* gradient */
  background: -moz-linear-gradient(top, #70aedd 40%, #69a4d0);
  background: -webkit-linear-gradient(top, #70aedd 40%, #69a4d0);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70aedd', endColorstr='#69a4d0');
  /* shadow */
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow:  0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
  height: auto;
}